.background {
  position: relative;
  background-image: url(./Image//bg.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: calc(100%-40%) !important;
  height: 100vh;
  width: 70% !important;
}
.background img {
  width: 42%;
  margin-left: 18%;
}
.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 5px;
  padding: 60px 70px;
}
.loginCenter {
  border-radius: 5px;
  margin: auto;
  margin-left: -120px;
  z-index: 999;
  background-color: white;
}
.task {
  display: flex;
  justify-content: space-between;
}
.linkText {
  color: rgb(98, 90, 153);
}
.input {
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 8px 35px;
}
button {
  margin-top: 8px;
  background-color: rgb(98, 90, 153);
  border: 0px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: white;
}
.logoText {
  padding-top: 10px;
  font-size: large;
}
.social-icon {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social-icon img {
  width: 38px;
}
.lineBreak {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
  display: flex;
  align-items: center;
  justify-items: center;
}
.lineBreak::after {
  content: " ";
  display: inline-flex;
  border: 1px solid rgb(189, 189, 189);
  width: 75px !important;
  margin-left: 5px;
}
.lineBreak::before {
  content: " ";
  display: inline-flex;
  border: 1px solid rgb(209, 209, 209);
  width: 75px !important;
  margin-right: 5px;
}
.forgetText {
  margin-left: 50%;
  color: red;
  float: right;
}
